<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TweeVee</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.18.2.js' %}"></script> 


</html>